<nz-card nzTitle="商品分類管理">
  <nz-space nzDirection="vertical" [nzSize]="16" style="width: 100%;">
    <nz-space-item>
      <cleric-eshop-category-selector
        [(value)]="category"
        [data]="data"
        [editable]
        (edit)="edit($event)"
        (delete)="delete($event)"
      >
      </cleric-eshop-category-selector>
    </nz-space-item>
    <nz-space-item>
      <span>目前已選擇的：</span>
      <span class="text-primary">
        <ng-container *ngFor="let item of category; let i = index">
          {{ item.display_name }} {{ i === category.length - 1 ? '' : '>' }}
        </ng-container>
      </span>
    </nz-space-item>
  </nz-space>
</nz-card>
