<nz-layout>
  <nz-header
    class="ant-header-custom"
    [class.ant-header-menu-handset]="breakPointFacadeSvc.isHandset$ | async"
  >
    <div class="ant-header-custom-logo logo"></div>
    <div style="margin-right: auto"></div>
    <div class="ant-header-custom-userinfo">
      <i
        style="cursor: pointer"
        nz-icon
        nzType="user"
        nzTheme="outline"
        nz-dropdown
        nzTrigger="click"
      >
      </i>
      <span>Admin</span>
    </div>
  </nz-header>
  <nz-layout style="padding-top: 40px">
    <nz-sider
      nzCollapsible
      nzBreakpoint="lg"
      [nzCollapsedWidth]="0"
      nzTheme="light"
    >
    <cleric-eshop-sidenav [menus]="menus"></cleric-eshop-sidenav>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
