<nz-layout>
  <nz-header
    class="ant-header-custom"
    [class.ant-header-menu-handset]="breakPointFacadeSvc.isHandset$ | async"
  >
    <div class="ant-header-custom-logo logo"></div>
    <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
    <div style="margin-right: auto"></div>
    <div class="ant-header-custom-userinfo">
      <i
        style="cursor: pointer"
        nz-icon
        nzType="user"
        nzTheme="outline"
        nz-dropdown
        nzTrigger="click"
      >
      </i>
      <span>Admin</span>
    </div>
    <nz-divider nzType="vertical"></nz-divider>
    <a nz-button nzType="link" nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="setting" nzTheme="outline"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="logout()">登出</li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-layout>
    <nz-sider
      nzCollapsible
      nzBreakpoint="lg"
      [nzCollapsedWidth]="0"
      nzTheme="light"
      [nzWidth]="220"
    >
    <cleric-eshop-sidenav [menus]="menus"></cleric-eshop-sidenav>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
